<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itamazons.whatsdp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsDp">
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_catagory"
            android:theme="@style/Theme.WhatsDp.NoActionBar" />
        <activity
            android:name=".WhatsBackgroundActivity"
            android:exported="true" />
        <activity
            android:name=".WhatsDpActivity"
            android:exported="true" />
        <activity
            android:name=".CatagoryActivity"
            android:exported="true"
            android:theme="@style/Theme.WhatsDp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>